{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>{{ title }}</h1>
<br><br>
<div id="main_data">
    <Table id="table_compare_groups">
        <tr>
            <td>
            <label for="">Таблица направлений</label>
            
            </td>
            <td><label for="">Таблица фаз(Временная программа)</label>

            </td>
        </tr>
        <td>
            <textarea placeholder="Поместите данные таблицы направлений" class="compare_groups" id="table_groups"> </textarea> 
        </td>
        <td>
            <textarea placeholder="Поместите данные таблицы временной программы(таблица фаз)" class="compare_groups" id="table_stages"> </textarea>
        </td>
        <tr>

        </tr>
    </Table>
    {% csrf_token %}
    
    <br>
    <button id="calculate"> Рассчитать </button>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'toolkit/js/compare_groups.js'%}"></script>
{% endblock %}