{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>{{ title }}</h1>
<br><br>
<div id="main_div">

    {% csrf_token %}
     Условие продления/перехода из tlc
    <input id="condition" maxlength="500"> <br> <br>
    <button id="create_functions"> Сформировать функции из условия </button> <br>
    <button id="get_condition_result"> Получить результат условия с определёнными функциями </button> <br>
    <label id="condition_result"></label>

</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'toolkit/js/potok_tlc.js'%}"></script>
{% endblock %}