* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;

}



body {
  margin: 10px;;

  padding-top: 80px;
  height: 100vh;
  background: no-repeat;
  background-color: aquamarine;
  background-size: cover;
  background-position: center;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  box-shadow: 0 5px 10px #000;

}

header .logo {
  font-size: 20px;
  font-weight: 900;
  color: #000;
  transition: .5s;
}

header .logo:hover {
  transform: scale(1.2);
}

header nav ul li {
  position: relative;
  float: left;
}

header nav ul li a {
  padding: 15px;
  color: #000;
  font-size: 16px;
  display: block;
}

header nav ul li a:hover {
  background-color: black;
  color: #fff;
}

nav ul li ul {
  position: absolute;
  left: 0;
  width: 180px;
  background: white;
  display: none;
}

 nav ul li ul li {
  width: 100%;
  border: 1px solid rgba(0,0,0,.1);
}

nav ul li ul li ul {
  left: 180px;
  top: 0;
}

nav ul li:hover > ul {
  display: initial;
}


h1 {
  text-align: center;
  color: red;
  font-size: 30px;
  margin: 0 0 14px 0;
  padding: auto;
  border-bottom: 1px solid;
}

.calc_conflicts_optinos {
order: 0;
}

.userDisplay {
  background-color: yellowgreen;
  width: 100%;
  height: 100%;
}

.compare_groups {
  padding: 10px;
  max-height: 600px;
  max-width: 400px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  width: 400px;
  height: 400px;
  resize: vertical;
}
#textarea_result_calc_groups_in_stages {
  padding: 10px;
  max-height: 600px;
  max-width: 250px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  width: 250px;
  height: 400px;
  resize: vertical;
}

#table_result_compare_groups {
  border-radius: 3;
  padding: auto;
}

#table_result_compare_groups {
  border: 2px solid rgb(140 140 140);
}

.result_table caption {
  caption-side: top;
  text-align: left;
  padding-bottom: 5px;
  font-weight: bold;
}

.errors_content {
  text-align: left;
}

#table_result_compare_groups th, #table_result_compare_groups td{
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  text-align: center;
}

#condition {
  width: 800px;
  height: 25px;
}


